
button {
    cursor: pointer;
}

.join{
    padding: 10px 10px;
    border: 2px solid #020e2c;
    color: #020e2c;
    background: white;
    border-radius: 300px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    left: 1766px;
}

.blog{
    padding: 10px 10px;
    color: #020e2c;
    background: white;
    border-radius: 300px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    left: 1600px;
    letter-spacing: 2px;
    text-decoration: none;
    line-height: normal;
}

.team{
    padding: 10px 10px;
    color: #020e2c;
    border-radius: 300px;
    background: white;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    left: 1434px;
    letter-spacing: 2px;
    text-decoration: none;
    line-height: normal;

}

.news{
    padding: 10px 10px;
    color: #020e2c;
    border-radius: 300px;
    background: white;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    left: 1270px;
    letter-spacing: 2px;
    text-decoration: none;
    line-height: normal;

}

.about{
    padding: 10px 10px;
    color: #020e2c;
    border-radius: 300px;
    background: white;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    left: 1100px;
    letter-spacing: 2px;
    text-decoration: none;
    line-height: normal;
}


.header_inner{
    background: url("http://static1.squarespace.com/static/596a8dbb440243ae7ebc0eff/t/5a286d1053450aeceb5792ed/1539828802695/%3Fformat=1500w");
    width: 100px;
    height: 100px;
    display: block;
    text-indent: -9999px;
    /*margin: -14px;*/
    /*width: 1001px;*/
    /*height: 123px;*/

}

.logo3 {
    background: url("picture/riley_lava.jpg");
    margin: 25px;
    width: 100%;
    height: 200px;
    background-position-y: 536px;
    background-position-x: -19px;
    background-size: 1910px;
}

.block-content{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.6em;
    color: rgba(26,26,26,.7);
}

.content{
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1.2em;
    display: block;
    text-align: center;
    white-space: pre-wrap;
}


.logo2{
    left: 0;
    right: 0;
    top: 100px;
    width: 1250px;
    height: 150px;

    position: relative;

}

.image {
    position:relative;
    padding-left: 350px;
    padding-right: 170px;
}

h2 {
    position : absolute;
    top	: 200px;
    left:450px;
    width:100%;
    color: white;
    size: A4;
}

.block-content{
    color: rgba(26, 26, 26, 0.7);
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight:400;
    height: 314.125px;
    letter-spacing: normal;
    line-height: 28.8px;
    text-size-adjust: 100%;
    width: 956px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.sqs-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(128,128,128,0);
    transition: box-shadow .2s ease-in-out;

}

.image-block-outer-wrapper{

    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.6em;
    color: rgba(26,26,26,.7);

}

.intrinsic{
    max-width:2500px;
}

.thumb-image {
    max-width: 1020px;
}
/*.second-content{*/
    /*border: 0;*/
    /*text-align: center;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
    /*font-size: 18px;*/
    /*letter-spacing: 0px;*/
    /*line-height: 1.6em;*/
    /*color: rgba(26,26,26,.7);*/

/*}*/

.join:hover {
    color: white;
    background: blue;

}